<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carro %>
    <%= form.text_field :carro, id: :post_carro %>
  </div>

  <div class="field">
    <%= form.label :mensagem %>
    <%= form.text_area :mensagem, id: :post_mensagem %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :post_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
