<p id="notice"><%= notice %></p>

<h1><center>Postagens</center></h1>

    <% @posts.reverse_each do |post| %>

        <h3><%= link_to post.carro, post  %></h3>
        <h5><%=h post.data.to_s(:long) %></h3>
        <p><%= post.mensagem %></p>

        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Tem certeza que quer deletar o post?' } %>
      <br /><hr />
    <% end %>

<br>

<%= link_to 'Nova Postagem', new_post_path %>
