<p id="notice"><%= notice %></p>

<h3>
  <strong>Carro:</strong>
  <%= @post.carro %>
</h3>

<p>
  <strong>Data:</strong>
  <%= @post.data.to_s(:long) %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @post.mensagem %>
</p>
<br /><hr />

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>